body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.thumbNail {
  width: 150px;
  height: 150px;
}

.character {
  margin: 0 25px 0 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.characterSelector {
  position: relative;
}

.bottom-left {
  color: white;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-weight: bolder;
}
