.thumbNail {
  width: 150px;
  height: 150px;
}

.characterSelector {
  position: relative;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: 100px auto 2fr;
}

.bottom-left {
  color: white;
  position: absolute;
  bottom: 2px;
  left: 2px;
}
